[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.unityproj
*.pidb
*.booproj
*.svd
*.user
*.userprefs
*.idea/
.vscode/
.gradle/
ExportedObj/
.sysinfo
*.apk
*.aab

!docs/Build/**
!docs/TemplateData/**
!docs/index.html